body {background:#000; color:#fff; font-size:14px; font-family:Verdana,sans-serif,"dotum"; margin:0; padding:0;}
hr {display:none;}

h1,h2,h3,h4,h5,h6 {margin:0; padding:0;}
h1 {font-size:60px; padding:15px 0 0 20px;}
h2 {font-size:40px; padding:0 20px 0 0; margin-bottom:10px; text-align:right; line-height:1.2em;}
h3 {font-size:20px; border-left:5px solid deepskyblue; }

.wrap {padding:0 24px 20px 20px;}
.author {margin:25px 0 30px;}
.author li {margin:0; padding:0; font-size:14px; line-height:24px;}

nav {margin-bottom:15px;}
nav ul {margin:0; padding:0; background:#aaa;
    display:flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-box;
    display:-webkit-flex;
    -webkit-flex-flow:row wrap;
}
nav ul li {list-style:none; flex:none auto; border-right:1px solid #eee; border-left:1px solid #666;}
nav ul li a {display:block; padding:20px 40px; color:#fff; font-size:14px; font-weight:bold; text-decoration:none; line-height:1em;}
nav ul li a.on, nav ul li a:hover, nav ul li a:active {color:#000; background:#ddd;}
@media all and (max-width: 640px) {
  nav ul {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
  }
  
  nav ul li a { 
    padding:1em;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }
  nav ul li a:hover { 
    padding:1em;
  }
  
  nav ul li:last-child a {
    border-bottom: none;
  }
}

section {padding:20px 20px; background:#111;}
.rule ul {margin-bottom:30px; padding-left:25px;}
.rule h3 {padding:4px 0 6px 15px; background:#ddd; color:#666;}
.rule ul p {overflow-x:auto;}
